@media only screen and (min-width: 961px) {
  * {
    margin: 0;
    padding: 0;
  }

  html {
    width: 100%;
  }

  header {
    background-color: whitesmoke;
    width: 96.8%;
    margin: 0;
    border: 5px groove;
    padding: 20px;
  }

  header h1 {
    margin: 0;
    font-size: 400%;
    font-weight: bolder;
    font-family: 'Edwardian Script ITC';
    padding: 10px;
  }

  nav {
    background-color: whitesmoke;
    margin: 0;
    width: 100%;
    height: 51px;
    border: 5px groove;
    padding: 0 20px;
  }

  nav ul {
    list-style-type: none;
    position: relative;
    padding: 0;
    margin: auto;
  }

  nav ul li {
    float: left;
    width: 25%;
    padding: 0px;
    margin: auto;
  }

  nav ul li:hover>ul {
    width: 25%;
    display: block;
  }

  .sublist {
    display: none;
    position: absolute;
    padding: 0;
    margin: 0;
    top: 100%;
  }

  .sublist li {
    width: 100%;
    float: none;
  }

  nav>ul::after {
    content: "";
    display: block;
    clear: both;
  }

  nav ul li a {
    display: block;
    width: 100%;
    padding: 14px 0px;
    overflow: hidden;
  }

  nav ul ul li a {
    display: block;
    width: 100%;
    padding: 14px 0px;
    margin: 0;
    overflow: hidden;
  }

  nav ul li a {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: Georgia;
    color: black;
    text-decoration: none;
  }

  nav ul ul li a {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    font-family: Georgia;
    color: white;
    background-color: grey;
    border: 3px groove;
    text-decoration: none;
  }

  nav ul li a:hover:not(.active) {
    color: white;
    background-color: grey;
    border: 3px groove;
  }

  nav ul ul li a:hover:not(.active) {
    color: rgb(172, 172, 0);
    background-color: grey;
    border: 3px groove;
  }

  nav {
    width: 96.8%;
  }

  nav ul {
    list-style-type: none;
    padding: 0;
    margin: auto;
  }

  nav ul li {
    float: left;
    width: 25%;
    margin: auto;
  }

  nav ul li a {
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: Georgia;
    color: black;
    padding: 14px 20px;
    margin: auto;
  }

  nav ul li a:hover:not(.active) {
    color: white;
    background-color: black;
  }

  body {
    background-color: rgb(248, 215, 215);
    padding: 1%;

    width: 100%;
  }


  #imageheader {
    margin-top: 10px;


  }

  .image1 {
    width: 100%;
    height: 600px;
  }



  .slideimage .text-image1 {
    display: flex;
    position: absolute;
    bottom: -94px;
    background: rgb(0, 0, 0);
    /* Fallback color */
    background: rgba(0, 0, 0, 0.5);
    /* Black background with 0.5 opacity */
    color: #f1f1f1;
    height: 10%;
    width: 97.3%;
    padding: 20px;
  }

  .maincontainer {
    display: flex;
    flex-direction: column;
  }

  /* container 1**/
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;

  }

  /* designing of menu img */
  .menuContainer {
    position: relative;
    max-width: 800px;

  }

  .menuContainer img {
    vertical-align: middle;
  }

  .menuContainer .menu {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    /* Fallback color */
    background: rgba(0, 0, 0, 0.5);
    /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 92%;
    padding: 20px;
  }


  /* designing of reservation img */
  .revContainer {
    position: relative;
    max-width: 800px;
    margin-left: 8px;
  }

  .revContainer img {
    vertical-align: middle;
  }

  .revContainer .reservation {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    /* Fallback color */
    background: rgba(0, 0, 0, 0.5);
    /* Black background with 0.5 opacity */

    width: 92%;
    padding: 20px;
  }

  .reservation a {
    color: whitesmoke;
    text-decoration: none;
  }

  .menu a {
    color: whitesmoke;
    text-decoration: none;
  }

  .event a {
    color: whitesmoke;
    text-decoration: none;
  }

  .promo a {
    color: whitesmoke;
    text-decoration: none;
  }

  .career a {
    color: whitesmoke;
    text-decoration: none;
  }

  .membership a {
    color: whitesmoke;
    text-decoration: none;
  }

  .contact a {
    color: whitesmoke;
    text-decoration: none;
  }

  /* designing of order img */
  #imgorder {

    width: 500px;
    height: 334px;
  }

  .orderContainer {
    position: relative;
    max-width: 800px;
    margin-left: 8px;
  }

  .orderContainer img {
    vertical-align: middle;
  }

  .orderContainer .order {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    /* Fallback color */
    background: rgba(0, 0, 0, 0.5);
    /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 92%;
    padding: 20px;
  }


  /*container2**/
  .container2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;

  }

  .order a {
    text-decoration: none;
    color: whitesmoke;
  }

  .feedback a {
    text-decoration: none;
    color: whitesmoke;
  }

  /*styling events*/
  .eventimg {
    margin-left: 3px;
    width: 500px;
  }

  .eventContainer {
    position: relative;
    max-width: 800px;

  }

  .eventContainer img {
    vertical-align: middle;
  }

  .eventContainer .event {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    /* Fallback color */
    background: rgba(0, 0, 0, 0.5);
    /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 91.3%;
    left: 3px;
    padding: 20px;
  }

  /*styling promos*/
  .imgpromotion {
    margin-left: 7px;
    width: 500px;
  }


  .promotionContainer {
    position: relative;
    max-width: 800px;

  }

  .promotionContainer img {
    vertical-align: middle;
  }

  .promotionContainer .promo {
    position: absolute;
    bottom: 0.9px;
    left: 7px;
    background: rgb(0, 0, 0);
    /* Fallback color */
    background: rgba(0, 0, 0, 0.5);
    /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 90.5%;
    padding: 20px;
  }

  /*styling career*/
  .imgcareer {
    width: 499px;
    margin-left: 7px;
    height: 333px;
  }

  .careerContainer {
    position: relative;
    max-width: 800px;

  }

  .careerContainer img {
    vertical-align: middle;
  }

  .careerContainer .career {
    position: absolute;
    bottom: 1px;
    background: rgb(0, 0, 0);
    /* Fallback color */
    background: rgba(0, 0, 0, 0.5);
    /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 90.5%;
    left: 7px;
    padding: 20px;
  }


  /*container3**/
  .container3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
  }

  /*styling membersip*/
  .membershipimg {
    width: 499px;
    margin-left: 3px;
    height: 333px;
  }

  .membershipContainer {
    position: relative;
    max-width: 800px;

  }

  .membershipContainer img {
    vertical-align: middle;
  }

  .membershipContainer .membership {
    position: absolute;
    bottom: 1px;
    background: rgb(0, 0, 0);
    /* Fallback color */
    background: rgba(0, 0, 0, 0.5);
    /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 91.3%;
    left: 3px;
    padding: 20px;
  }

  /*styling feedback*/
  .imgfeekback {
    width: 499px;
    margin-left: 7px;
    height: 333px;
  }

  .feedbackContainer {
    position: relative;
    max-width: 800px;

  }

  .feedbackContainer img {
    vertical-align: middle;
  }

  .feedbackContainer .feedback {
    position: absolute;
    bottom: 1px;
    background: rgb(0, 0, 0);
    /* Fallback color */
    background: rgba(0, 0, 0, 0.5);
    /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 90.5%;
    left: 7px;
    padding: 20px;
  }

  /*styling contactus*/
  .imgcontact {
    width: 499px;
    margin-left: 7px;
    height: 333px;
  }

  .contactContainer {
    position: relative;
    max-width: 800px;

  }

  .contactContainer img {
    vertical-align: middle;
  }

  .contactContainer .contact {
    position: absolute;
    bottom: 1px;
    background: rgb(0, 0, 0);
    /* Fallback color */
    background: rgba(0, 0, 0, 0.5);
    /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 90.5%;
    left: 7px;
    padding: 20px;
  }

  footer {
    text-align: center;
    width: 100%;
    margin: auto;
    padding: 20px;
    margin-top: 50px;
    clear: both;
  }

  footer a {
    font-family: Cambria;
    font-weight: 100px;
    width: 100%;
    margin: auto;
    text-align: center;
    color: gray;
  }
}

@media only screen and (min-width: 360px) and (max-width: 630px) {
  * {
    margin: 0;
    padding: 0;
  }

  html {
    width: 70%;
  }

  header {
    background-color: whitesmoke;
    max-width: 500px;
    width: 100%;
    margin: 0;
    border: 5px groove;
  }

  header h1 {
    margin: 0;
    font-size: 400%;
    font-weight: bolder;
    font-family: 'Edwardian Script ITC';
  }

  nav {
    background-color: whitesmoke;
    margin: 0;
    width: 90%;
    height: 30px;
    border: 5px groove;
    padding: 0 20px;
  }

  nav ul {
    list-style-type: none;
    position: relative;
    padding: 0;
    margin: auto;
  }

  nav ul li {
    float: left;
    width: 25%;
    padding: 0px;
    margin: auto;
  }

  nav ul li:hover>ul {
    width: 25%;
    display: block;
  }

  .sublist {
    display: none;
    position: absolute;
    padding: 0;
    margin: 0;
    top: 100%;
  }

  .sublist li {
    width: 100%;
    float: none;
  }

  nav>ul::after {
    content: "";
    display: block;
    clear: both;
  }

  nav ul li a {
    display: block;
    width: 100%;
    padding: 7px 0px;
    overflow: hidden;
  }

  nav ul ul li a {
    display: block;
    width: 100%;
    padding: 7px 0px;
    margin: 0;
    overflow: hidden;
  }

  nav ul li a {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    font-family: Georgia;
    color: black;
    text-decoration: none;
  }

  nav ul ul li a {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    font-family: Georgia;
    color: white;
    background-color: grey;
    text-decoration: none;
    border: 2px groove;
  }

  nav ul li a:hover:not(.active) {
    color: white;
    background-color: grey;
    border: 2px groove;
  }

  nav ul ul li a:hover:not(.active) {
    color: rgb(172, 172, 0);
    background-color: grey;
    border: 2px groove;
  }

  body {
    background-color: rgb(248, 215, 215);
    padding: 1%;
    width: 100%;
  }

  #imageheader {
    margin-top: 10px;
  }

  .image1 {
    width: 100%;
    height: 600px;
    margin-left: 2%;
  }

  .slideimage .text-image1 {
    display: flex;
    position: absolute;
    bottom: -22.3px;
    background: rgb(0, 0, 0);
    /* Fallback color */
    background: rgba(0, 0, 0, 0.5);
    /* Black background with 0.5 opacity */
    color: #f1f1f1;
    margin-left: 1.5%;
    height: 10%;
    width: 63%;
    padding: 20px;
  }

  .maincontainer {
    display: flex;
    flex-direction: column;
  }

  /* container 1**/
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;

  }

  /* designing of menu img */
  .menuContainer {
    position: relative;
    max-width: 800px;

  }

  .menuContainer img {
    vertical-align: middle;
    width: 100%;
    margin-left: 2%;
  }

  .menuContainer .menu {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    /* Fallback color */
    background: rgba(0, 0, 0, 0.5);
    /* Black background with 0.5 opacity */
    color: #f1f1f1;
    margin-left: 2%;
    width: 90%;
    padding: 20px;
  }


  /* designing of reservation img */
  .revContainer {
    position: relative;
    max-width: 800px;
    margin-left: 8px;
  }

  .revContainer img {
    vertical-align: middle;
    width: 102%;
    margin-top: 1%;
  }

  .revContainer .reservation {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    /* Fallback color */
    background: rgba(0, 0, 0, 0.5);
    /* Black background with 0.5 opacity */
    width: 92%;
    padding: 20px;
  }

  .reservation a {
    color: whitesmoke;
    text-decoration: none;
  }

  .menu a {
    color: whitesmoke;
    text-decoration: none;
  }

  .event a {
    color: whitesmoke;
    text-decoration: none;
  }

  .promo a {
    color: whitesmoke;
    text-decoration: none;
  }

  .career a {
    color: whitesmoke;
    text-decoration: none;
  }

  .membership a {
    color: whitesmoke;
    text-decoration: none;
  }

  .contact a {
    color: whitesmoke;
    text-decoration: none;
  }

  /* designing of order img */
  #imgorder {

    width: 417px;
    height: 334px;
  }

  .orderContainer {
    position: relative;
    max-width: 800px;
    margin-left: 8px;
  }

  .orderContainer img {
    vertical-align: middle;

    margin-top: 1%;
  }

  .orderContainer .order {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    /* Fallback color */
    background: rgba(0, 0, 0, 0.5);
    /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 90.5%;
    padding: 20px;
  }


  /*container2**/
  .container2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;

  }

  .order a {
    text-decoration: none;
    color: whitesmoke;
  }

  .feedback a {
    text-decoration: none;
    color: whitesmoke;
  }

  /*styling events*/
  .eventimg {
    margin-left: 3px;
    width: 500px;
  }

  .eventContainer {
    position: relative;
    max-width: 800px;

  }

  .eventContainer img {
    vertical-align: middle;
    width: 116%;
    margin-left: 2%;

  }

  .eventContainer .event {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    /* Fallback color */
    background: rgba(0, 0, 0, 0.5);
    /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 105%;
    margin-left: 1%;
    left: 3px;
    padding: 20px;
  }

  /*styling promos*/
  .imgpromotion {
    margin-left: 7px;
    width: 500px;
  }


  .promotionContainer {
    position: relative;
    max-width: 800px;

  }

  .promotionContainer img {
    width: 116%;
    margin-left: 2%;
    vertical-align: middle;
    margin-top: 2%;
  }

  .promotionContainer .promo {
    position: absolute;
    bottom: 0px;
    left: 7px;
    background: rgb(0, 0, 0);
    /* Fallback color */
    background: rgba(0, 0, 0, 0.5);
    /* Black background with 0.5 opacity */
    color: #f1f1f1;

    width: 105%;
    padding: 20px;
  }

  /*styling career*/
  .imgcareer {
    width: 499px;
    margin-left: 7px;
    height: 333px;
  }

  .careerContainer {
    position: relative;
    max-width: 800px;

  }

  .careerContainer img {
    vertical-align: middle;
    width: 100.3%;
    margin-left: 1.7%;
    margin-top: 1%;
  }

  .careerContainer .career {
    position: absolute;
    bottom: 1px;
    background: rgb(0, 0, 0);
    /* Fallback color */
    background: rgba(0, 0, 0, 0.5);
    /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 90.5%;
    left: 7px;
    padding: 20px;
  }


  /*container3**/
  .container3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
  }

  /*styling membersip*/
  .membershipimg {
    width: 499px;
    margin-left: 3px;
    height: 333px;
  }

  .membershipContainer {
    position: relative;
    max-width: 800px;

  }

  .membershipContainer img {
    vertical-align: middle;
    width: 111.5%;
    margin-left: 2%;
  }

  .membershipContainer .membership {
    position: absolute;
    bottom: 1px;
    background: rgb(0, 0, 0);
    /* Fallback color */
    background: rgba(0, 0, 0, 0.5);
    /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 101%;
    left: 3px;
    margin-left: 1%;
    padding: 20px;
  }

  /*styling feedback*/
  .imgfeekback {
    width: 499px;
    margin-left: 7px;
    height: 333px;
  }

  .feedbackContainer {
    position: relative;
    max-width: 800px;

  }

  .feedbackContainer img {
    vertical-align: middle;
    width: 100%;
    margin-top: 1%;
    margin-left: 1.7%;
  }

  .feedbackContainer .feedback {
    position: absolute;
    bottom: 1px;
    background: rgb(0, 0, 0);
    /* Fallback color */
    background: rgba(0, 0, 0, 0.5);
    /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 90.5%;
    left: 7px;
    padding: 20px;
  }

  /*styling contactus*/
  .imgcontact {
    width: 499px;
    margin-left: 7px;
    height: 333px;
  }

  .contactContainer {
    position: relative;
    max-width: 800px;

  }

  .contactContainer img {
    vertical-align: middle;
    width: 100%;
    margin-left: 1.7%;
    margin-top: 1%;
  }

  .contactContainer .contact {
    position: absolute;
    bottom: 1px;
    background: rgb(0, 0, 0);
    /* Fallback color */
    background: rgba(0, 0, 0, 0.5);
    /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 90.5%;
    left: 7px;
    padding: 20px;
  }

  footer {
    text-align: center;
    width: 100%;
    margin: auto;
    padding: 20px;
    margin-top: 50px;
    clear: both;
  }

  footer a {
    font-family: Cambria;
    font-weight: 100px;
    width: 100%;
    margin: auto;
    text-align: center;
    color: gray;
  }
}

@media only screen and (min-width: 631px) and (max-width: 960px) {

  header {
    background-color: whitesmoke;
    max-width: 860px;
    width: 99%;
    margin: 0;
    border: 5px groove;
  }

  header h1 {
    margin: 0;
    font-size: 400%;
    font-weight: bolder;
    font-family: 'Edwardian Script ITC';
  }

  nav {
    background-color: whitesmoke;
    margin: 0;
    width: 94.4%;
    height: 51px;
    border: 5px groove;
    padding: 0 20px;
  }

  nav ul {
    list-style-type: none;
    position: relative;
    padding: 0;
    margin: auto;
  }

  nav ul li {
    float: left;
    width: 25%;
    padding: 0px;
    margin: auto;
  }

  nav ul li:hover>ul {
    width: 25%;
    display: block;
  }

  .sublist {
    display: none;
    position: absolute;
    padding: 0;
    margin: 0;
    top: 100%;
  }

  .sublist li {
    width: 100%;
    float: none;
  }

  nav>ul::after {
    content: "";
    display: block;
    clear: both;
  }

  nav ul li a {
    display: block;
    width: 100%;
    padding: 14px 0px;
    overflow: hidden;
  }

  nav ul ul li a {
    display: block;
    width: 100%;
    padding: 14px 0px;
    margin: 0;
    overflow: hidden;
  }

  nav ul li a {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: Georgia;
    color: black;
    text-decoration: none;
  }

  nav ul ul li a {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    font-family: Georgia;
    color: white;
    background-color: grey;
    text-decoration: none;
    border: 3px groove;
  }

  nav ul li a:hover:not(.active) {
    color: white;
    background-color: grey;
    border: 3px groove;
  }

  nav ul ul li a:hover:not(.active) {
    color: rgb(172, 172, 0);
    background-color: grey;
    border: 3px groove;
  }

  .title {
    font-family: 'Bradley Hand ITC';
    font-size: 22px;
    font-weight: bolder;
    text-shadow: 2px 0 gray;
    text-decoration-line: underline;
    text-decoration-color: gray;
    font-style: italic;
    letter-spacing: 3px;
  }

  body {
    background-color: rgb(248, 215, 215);
    padding: 1%;
    width: 100%;
  }

  #imageheader {
    margin-top: 10px;
  }


  .slideimage .image1 {
    width: 99.8%;
  }

  .slideimage .text-image1 {
    display: flex;
    position: absolute;
    bottom: -37.3px;
    background: rgb(0, 0, 0);
    /* Fallback color */
    background: rgba(0, 0, 0, 0.5);
    /* Black background with 0.5 opacity */
    color: #f1f1f1;
    height: 10%;
    width: 87.5%;
    padding: 20px;
  }

  .maincontainer {
    display: flex;
    flex-direction: column;
  }

  /* container 1**/
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;

  }

  /* designing of menu img */
  .menuContainer {
    position: relative;
    max-width: 425px;

  }

  .menuContainer img {
    vertical-align: middle;
    width: 100%;

  }

  .menuContainer .menu {
    position: absolute;
    bottom: 3px;
    background: rgb(0, 0, 0);
    /* Fallback color */
    background: rgba(0, 0, 0, 0.5);
    /* Black background with 0.5 opacity */
    color: #f1f1f1;
    margin-left: 2%;
    width: 88%;
    padding: 20px;
  }


  /* designing of reservation img */
  .revContainer {
    position: relative;
    max-width: 425px;

  }

  .revContainer img {
    vertical-align: middle;
    width: 100%;
    margin-left: 2%;
  }

  .revContainer .reservation {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    /* Fallback color */
    background: rgba(0, 0, 0, 0.5);
    /* Black background with 0.5 opacity */
    width: 87.5%;
    margin-left: 5%;
    padding: 20px;
  }

  .reservation a {
    color: whitesmoke;
    text-decoration: none;
  }

  .menu a {
    color: whitesmoke;
    text-decoration: none;
  }

  .event a {
    color: whitesmoke;
    text-decoration: none;
  }

  .promo a {
    color: whitesmoke;
    text-decoration: none;
  }

  .career a {
    color: whitesmoke;
    text-decoration: none;
  }

  .membership a {
    color: whitesmoke;
    text-decoration: none;
  }

  .contact a {
    color: whitesmoke;
    text-decoration: none;
  }

  /* designing of order img */
  #imgorder {

    width: 425px;
    height: 334px;
  }

  .orderContainer {
    position: relative;
    max-width: 800px;

  }

  .orderContainer img {
    vertical-align: middle;
    margin-top: 1%;
  }

  .orderContainer .order {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    /* Fallback color */
    background: rgba(0, 0, 0, 0.5);
    /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 90.5%;
    padding: 20px;
  }


  /*container2**/
  .container2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;

  }

  .order a {
    text-decoration: none;
    color: whitesmoke;
  }

  .feedback a {
    text-decoration: none;
    color: whitesmoke;
  }

  /*styling events*/
  .eventimg {
    margin-left: 3px;
    width: 500px;
  }

  .eventContainer {
    position: relative;
    max-width: 800px;

  }

  .eventContainer img {
    vertical-align: middle;
    width: 116%;
  }

  .eventContainer .event {
    position: absolute;
    bottom: 5px;
    background: rgb(0, 0, 0);
    /* Fallback color */
    background: rgba(0, 0, 0, 0.5);
    /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 10%;
    margin-left: 1%;
    left: 3px;
    padding: 20px;
  }

  /*styling promos*/
  .imgpromotion {
    margin-left: 7px;
    width: 500px;
  }


  .promotionContainer {
    position: relative;
    max-width: 800px;

  }

  .promotionContainer img {
    width: 116%;
    margin-left: 20%;
    vertical-align: middle;

  }

  .promotionContainer .promo {
    position: absolute;
    bottom: 2px;
    left: 7px;
    background: rgb(0, 0, 0);
    /* Fallback color */
    background: rgba(0, 0, 0, 0.5);
    /* Black background with 0.5 opacity */
    color: #f1f1f1;
    margin-left: 18%;
    width: 105%;
    padding: 20px;
  }

  /*styling career*/
  .imgcareer {
    width: 499px;
    height: 333px;
  }

  .careerContainer {
    position: relative;
    max-width: 800px;

  }

  .careerContainer img {
    vertical-align: middle;
    width: 98.5%;
    margin-left: 1%;
    margin-top: 1%;
  }

  .careerContainer .career {
    position: absolute;
    bottom: 1px;
    background: rgb(0, 0, 0);
    /* Fallback color */
    background: rgba(0, 0, 0, 0.5);
    /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 89%;
    left: 4px;
    padding: 20px;
  }


  /*container3**/
  .container3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
  }

  /*styling membersip*/
  .membershipimg {
    width: 499px;
    margin-left: 3px;
    height: 333px;
  }

  .membershipContainer {
    position: relative;
    max-width: 330px;

  }

  .membershipContainer img {
    vertical-align: middle;
    width: 126.5%;
    margin-left: 2%;
  }

  .membershipContainer .membership {
    position: absolute;
    bottom: 1px;
    background: rgb(0, 0, 0);
    /* Fallback color */
    background: rgba(0, 0, 0, 0.5);
    /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 114.5%;
    left: 3px;
    margin-left: 1%;
    padding: 20px;
  }

  /*styling feedback*/
  .imgfeekback {
    width: 499px;
    margin-left: 7px;
    height: 333px;
  }

  .feedbackContainer {
    position: relative;
    max-width: 330px;

  }

  .feedbackContainer img {
    vertical-align: middle;
    width: 127%;
    margin-left: 30%;
  }

  .feedbackContainer .feedback {
    position: absolute;
    bottom: 1px;
    background: rgb(0, 0, 0);
    /* Fallback color */
    background: rgba(0, 0, 0, 0.5);
    /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 115%;
    left: 30%;
    padding: 20px;
  }

  /*styling contactus*/
  .imgcontact {
    width: 499px;
    margin-left: 7px;
    height: 333px;
  }

  .contactContainer {
    position: relative;
    max-width: 800px;

  }

  .contactContainer img {
    vertical-align: middle;
    width: 100%;
    margin-left: 1.7%;
    margin-top: 1%;
  }

  .contactContainer .contact {
    position: absolute;
    bottom: 1px;
    background: rgb(0, 0, 0);
    /* Fallback color */
    background: rgba(0, 0, 0, 0.5);
    /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 90.5%;
    left: 7px;
    padding: 20px;
  }

  footer {
    text-align: center;
    width: 100%;
    margin: auto;
    padding: 20px;
    margin-top: 50px;
    clear: both;
  }

  footer a {
    font-family: Cambria;
    font-weight: 100px;
    width: 100%;
    margin: auto;
    text-align: center;
    color: gray;
  }
}