html{
    background-image: url(../images/background.jpg);
    background-repeat: repeat;
}
body
{
        max-width: 1040px;
        padding: 20px;
        margin: 20px auto;
    }
    
 header{
    background-color: whitesmoke;
    background-image: url(../images/headwave.jpg);
    background-repeat: no-repeat;
    width: 1040px;
    margin: 0;
    border: 5px groove;
    padding: 20px;
}
header h1{
    margin: 0;
    font-size: 400%;
    font-weight: bolder;
    font-family: 'Edwardian Script ITC';
    padding: 10px;
}
nav{
    background-color: whitesmoke;
    margin: 0;
    width: 100%;
    height: 51px;
    border: 5px groove;
    padding: 0 20px;
}
nav ul{
    list-style-type: none;
    position: relative;
    padding: 0;
    margin: auto;
}
nav ul li{
    float: left;
    width: 25%;
    padding: 0px;
    margin: auto;
}
nav ul li:hover > ul{
    width: 25%;
    display: block;
}
.sublist{
    display: none;
    position: absolute;
    padding: 0;
    margin: 0;
    top:100%;
}
.sublist li{
    width: 100%;
    float: none;
}
nav > ul::after{
    content:"";
    display: block;
    clear: both;
}
nav ul li a{
    display: block;
    width: 100%;
    padding: 14px 0px;
    overflow: hidden;
}
nav ul ul li a{
    display: block;
    width:100%;
    padding: 14px 0px;
    margin: 0;
    overflow: hidden;
}
nav ul li a{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: Georgia;
    color: black;
    text-decoration: none;
}
nav ul ul li a{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    font-family: Georgia;
    color: white;
    background-color: grey;
    border: 3px groove;
    text-decoration: none;
}
nav ul li a:hover:not(.active) {
    color: white;
    background-color: grey;
    border: 3px groove;
}
nav ul ul li a:hover:not(.active) {
    color: rgb(172, 172, 0);
    background-color: grey;
    border: 3px groove;
}


h2{
    text-align: center;
    color: brown;
    font-family: 'Edwardian Script ITC';
    font-size:1.2cm;
    clear: both;
}
main{
    width: 100%;
    height: auto;
    border: 5px groove;
    margin:  0;
    padding: 20px;
    text-align: center;
    background-color: whitesmoke;
}
main ol{
    list-style-position: inside;
    font-size: 0.5cm;
}
h3{
    
    font-size: 0.8cm;
    color:maroon;
}
.head{
    font-family: 'Edwardian Script ITC';
    font-size: 40px;
    font-weight: bolder;
    text-decoration-color: gray;

    letter-spacing: 3px;
}
#a2-image{
       display: block;
        border: 5px groove;
        width: fit-content;
        height: fit-content;
        float: left;
        margin: auto;
    }
    .a2{
        font-size: 0.5cm;
        width: 100%;
        margin-left: -20px;
        height: 300px;
        padding: 40px 20px;
        
        clear: both;
    }
    #a2-article{
        width: 60%;
        height: fit-content;
        float: right;
        padding: 5px;
        margin: 0;
    }
    #a3-image{
        display: block;
         border: 5px groove;
         width: fit-content;
         height: fit-content;
         float: right;
         margin: auto;
     }
     .a3{
        font-size: 0.5cm;
         width: 100%;
         margin-left: -20px;
         height: 300px;
         padding: 40px 20px;
        
         clear: both;
     }
     #a3-article{
         
         width: 60%;
         height: fit-content;
         float: center;
         padding: 40px 20px;
         margin: 0;
     }
     #a4-image{
        display: block;
         border: 5px groove;
         width: fit-content;
         height: fit-content;
         float: left;
         margin: auto;
     }
     .a4{
        font-size: 0.5cm; 
        width: 100%;
         margin-left: -20px;
         height: 300px;
         padding: 40px 20px;
            clear: both;
     }
     #a4-article{
         width: 60%;
         height: fit-content;
         float: right;
         padding: 5px;
         margin: 0;
     }
     #a5-image{
        display: block;
         border: 5px groove;
         width: fit-content;
         height: fit-content;
         float: right;
         margin: auto;
     }
     .a5{
        font-size: 0.5cm;
         width: 100%;
         margin-left: -20px;
         height: 300px;
         padding: 40px 20px;
           clear: both;
     }
     #a5-article{
         width: 60%;
         height: fit-content;
         float: left;
         padding: 5px;
         margin: 0;
     }
 
    footer{
        text-align: center;
        width: 100%;
        margin: auto 0;
        padding: 20px;
        margin-top: 50px;
        clear: both;
    }
    footer a{
    
        font-family: Cambria;
        font-weight: 100px;
        width: 100%;
        margin: auto;
        text-align: center;
        color: gray; 
    }
    @media only screen and (max-width:800px) {
        /* For tablets: */
         header, nav,main, footer {
          width: 80%;
          padding: 0;
        }
      }
      @media only screen and (max-width:400px) {
        /* For mobile phones: */
        header, main, nav, footer {
          width: 100%;
          padding: 0;
        }
      }
      @media only screen and (max-width:1120px) {
        /* For deskptop: */
         header, nav,main , footer {
          width: 80%;
          padding: 0;
        }
      }
    
